<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<!--  {% 탬플릿태그 %}   -->
  <!--  파이선 코드 -->
	{% if name %} <!--name 이 있으면 참  , 없으면 거짓   -->
		<h1>hello, {{name}}!</h1>
	{% else %}
		<h1>hello,world!</h1>
	{% endif %}
	
		<form action="/test" method="post">
			<input type="hidden" name="command" value="value test"/>
			<input type="submit" value="test"/>
		</form>   <!-- test버튼 누르면 테스트로 가달라고 함. -->
		
		

</body>
</html>